.button {
    display: block;
}

.squares {
    display: inline-block;
    background-color: black;
    margin: 1px;
    padding: 2em;
}

p {
    color: white;
    text-align: center;
    font-size: 4em;
    margin: 0;
    width: 1em;
    height: 1em;
}
